@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax-button {
  background-color: black;
  color: white;
  border: 2px solid transparent; /* Bordure initialement transparente */
  font-size: 15px;
  padding: 0.60rem 2rem;
  transition: background-color 0.3s, border-color 0.3s; /* Transition douce pour le fond et la bordure */
  cursor: pointer;
}

.parallax-button:hover {
  background-color: transparent;
  border-color: black; /* Bordure noire */
  color: black; /* Texte noir */
}
